<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				<action type="Rewrite" url="index.php" />
			</rule></rules>
    </rewrite>
  
  <security>
    <requestFiltering>
      
      <requestLimits maxAllowedContentLength="100000000" />           
    </requestFiltering>
  </security>

  </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=wordpress65;Uid=wordpressuser65;Pwd=ee^|4tXmanM3" name="wordpress65" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
